{# src/Fr/LdapBundle/Resources/views/Projet/ldap_annuaire.html.twig #}

{% extends "FrLdapBundle::layout.html.twig" %}

{% block title %}
annuaire
{% endblock %}

{% block frprojet_body %}

  <h2>annuaire</h2>

{{ include("FrLdapBundle:Ldap:form.html.twig") }}


{% endblock %}
